@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  h2 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 600;
  }
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h5 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  h6 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  p,
  button,
  a,
  label {
    font-family: "Lato", sans-serif;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(185, 185, 185, 0.8);
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.9);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(90, 90, 90, 0.9);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  flex-grow: 1;
  overflow-y: auto;
}

/* Fix tooltip color */
.tooltip::before {
  color: #120000;
}

/* Move add a beer price tooltip to make it fully visible */
.sticky .tooltip::before {
  left: auto;
  z-index: 10;
}
